.darkgrey, .darkgrey a {
    background-color: #44464a;
    color: #d7d3c7;
}

.privacy-policy, .privacy-policy a {
    background-color: #000;
    color: #d7d3c7;
}

/* Header formatting */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 8px solid #bb0826;
    margin: 1em 0;
    padding: 0;
}

#logo {
    padding-bottom: 14px;
}

.account-header-links {
    padding: 10px 0px 10px 0px;
}

.account-header-links a {
    padding: 0px 9px 0px 9px;
}

.tab-pane {
    height: 144px;
}

/* Bootstrap overrides */
.navbar-nav>li {
    float: none;
}

.nav-pills>li>a {
    color: #d7d3c7;
    background-color: #44464a;
    border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000;
}
