body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.darkgrey, .darkgrey a {
    background-color: #44464a;
    color: #d7d3c7;
}

a.margin-l {
    margin-left: 9px;
}

a.margin-r {
    margin-right: 9px;
}

/* Header formatting */
.top-border {
    border-top: 8px solid #bb0826;
    margin-bottom: 14px;
}

#logo {
    margin-bottom: 14px;
}

.account-header-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

.account-header-links a {
    font-size: 13px;
    color: #404040;
}

.account-info {
    font-size: 13px;
    font-weight: bold;
    color: #bb0826;
}

.navbar-nav>li {
    float: none;
}

.nav-pills>li>a {
    color: #d7d3c7;
    background-color: #44464a;
    padding: 14px 10px 19px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 0px;
    border-top: 4px solid transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover .nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: #fff;
    background-color: #000;
    border-top: 4px solid #bb0826;
    font-weight: 700;
    margin: 0 -1px;
}

/* Triangles for selected nav items */
.nav-pills>li.active>a:after {
    content: "";
    position: absolute;
    margin-left: -8px;
    left: 50%;
    bottom: 0;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent #fff;
    z-index: 2;
}

.tabpanel-background {
    background-color: #f3f4f3;
    margin: 0px -15px;
}

.tab-pane {
    height: 182px;
    background-color: #fff;
}

.tab-pane .row {
    margin: 0px;
}

.tab-pane .row .cell {
    margin: 16px 0px;
    height: 145px;
    text-align: center;
    border-right: 1px solid #e0e3e2;
}

.tab-pane .row .cell.noborder {
    border-right: none;
}

.tab-pane .row .cell a {
    color: #44464a;
    margin-top: 24px;
    display: inline-block;
}

.tab-pane .row .cell a img {
    margin-bottom: 20px;
}

.tab-pane .row .cell a.rewards-home {
    font-weight: bold;
    color: #bb0826;
}

.tab-shadow {
    height: 5px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afb0b0+0,c9c9c9+100 */
    background: #afb0b0; /* Old browsers */
    background: -moz-linear-gradient(top,  #afb0b0 0%, #c9c9c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #afb0b0 0%,#c9c9c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #afb0b0 0%,#c9c9c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afb0b0', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
}

/* Footer formatting */
.footer {
    font-size: 12px;
}

div.footer-help {
    min-height: 72px;
    line-height: 72px;
    font-weight: bold;
    vertical-align: center;
    padding: 0px 30px;
}

div.footer-links {
    min-height: 230px;
    line-height: 24px;
    border-top: 1px solid #000;
    padding-top: 30px;
}

div.privacy-policy {
    min-height: 56px;
    line-height: 56px;
    background-color: #000;
    color: #d7d3c7;
    font-size: 12px;
}

.privacy-policy a {
    background-color: #000;
    color: #d7d3c7;
    vertical-align: middle;
}
